<div class="content">
<?php include('front-page-blurb.php');?>
<?php include('leader.htm'); ?>
	<table class='table table-striped'>
		<tr>	
		<th> Domain </th>
		<th> Domain Score </th>
		<th> Name Score </th>
		<th> Length Score </th>
		<th> Expires </th>
		<th> Status </th>
		</tr>

		<?php
foreach($domains as $domain=>$domainData) {
	echo "<tr>";
	echo "<td><A href=\"/lookup/{$domainData['domain']}\">{$domainData['domain']}</A></td>";
	echo "<td>".round($domainData['tldFactor'],2)."</td>";
	echo "<td>".round($domainData['letterFactor'],2)."</td>";
	echo "<td>".round($domainData['sylFactor'],2)."</td>";
	echo "<td>".date('m/d/Y',$domainData['expires']->sec)."</td>";
	echo "<td>{$domainData['status']}</td>";
	echo "</tr>";
}
		?>
	</table>
<?php include('paginate.htm'); ?>
</DIV>
<BR>
<?php include('banner.htm'); ?>

</div>
